@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400;500;600;700&display=swap");

.CardCalendario {
  display: flex;
  justify-content: center;
  align-items: center;

  color: aliceblue;
  position: relative;
  left: 43rem;
  top: 4rem;
  width: 20rem;
  height: 10rem;
  padding: 2rem;
  border-radius: 10px;
}

.imgCalendario {
  width: 150%;
  padding: 55px;
  position: absolute;
  /* left: 16rem; */
}

.cardTitleCalendario {
  width: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2rem;
  /* position: relative; */
}
